@view-transition {
  navigation: auto;
}

.feather {
  width: 1.5rem;
  height: 1.5rem;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.feather-large {
  width: 3rem;
  height: 3rem;
}

.feather-small {
  width: 1rem;
  height: 1rem;
}

a object[type='image/svg+xml'] {
  pointer-events: none;
}

.main-view_banner {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-width: 25%;
  max-width: 60%;
  width: fit-content;
  text-align: center;
  vertical-align: middle;
  padding: 8px 15;
  border-radius: 10px;
  background-color: lightyellow;
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.8;

  &[role='alert'] {
    background-color: rgb(232 62 15);
  }
}

.operation-spinner {
  display: none;
  opacity: 0;
}

.htmx-request.operation-spinner {
  display: inline-block;
  margin-left: 10px;
  opacity: 1;
  transition: opacity 0.3s ease-in;
  transition-delay: 200ms;
}

form .row .form-floating label {
  left: 0.75rem;
}

form .row .link:has(a) {
  align-self: center;
}

form h6 a {
  display: inline-block;
  margin-left: 0.5rem;
}
